<!DOCTYPE html>
<html>
<head>
    <%- partial('_partial/head') %>
</head>
<body>
    <%- partial('_partial/header') %>
    
    <div class="site-content container-fluid">
        <div class="row">
            <div class="col-md-9">
                <main>
                    <%- body %>
                </main>
            </div>
            <div class="col-md-3">
                <%- partial('_partial/sidebar') %>
            </div>
        </div>
    </div>
    
    <%- partial('_partial/footer') %>
    
    <%- partial('_partial/_service/comments/comments_script')%>
    <%- partial('_partial/_service/analytics/analytics') %>
    <%- partial('_partial/_service/baidu_push/baidu_push') %>
    <%- partial('_partial/_service/mathjax/mathjax') %>
</body>
</html>
