<!DOCTYPE html>
<html>
<head>
    <%- partial('_partial/head') %>
</head>
<body>
    <%- partial('_partial/header') %>
    
    <div class="site-content container-fluid">
        <div class="row">
            <div class="col-md-9">
                <main>
                    <%- body %>
                </main>
            </div>
            <div class="col-md-3">
                <%- partial('_partial/sidebar') %>
            </div>
        </div>
    </div>
    
    <%- partial('_partial/footer') %>
    
    <%- js(['vendors/jquery/jquery', 'vendors/bootstrap/js/bootstrap', 'js/script']) %>
    <%- partial('_partial/_service/comments/comments_script')%>
</body>
</html>
