<div class="post-nav">
  <div class="post-nav-next post-nav-item">
    <% if(post.next){ %>
    <a href="<%- url_for(post.next.path) %>" rel="next" title="<%- post.next.title %>">
        <i class="fa fa-chevron-left"></i>
        <%- post.next.title %>
    </a>
    <% } %>
  </div>

  <div class="post-nav-prev post-nav-item">
    <% if(post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" rel="prev" title="<%- post.prev.title %>">
        <%- post.prev.title %> 
        <i class="fa fa-chevron-right"></i>
    </a>
    <% } %>
  </div>
</div>
