<article id="<%= post.layout %>-<%= post.slug %>"
         class="post post-type-<%= post.layout %>" itemscope itemprop="blogPost">

    <div class="post-inner">
        <!-- title -->
        <% if (post.link || post.title){ %>
        <header class="post-header">
            <%- partial('title') %>
        </header>
        <% } %>

        <!-- meta data -->
        <div class="post-meta">
            <%- partial('date') %>
            <%- partial('category') %>
            <%- partial('../_service/comments/comments_count') %>
        </div>

        <!-- gallery-->
        <% if (post.photos && post.photos.length){ %>
        <div class="post-gallery">
            <%- partial('gallery') %>
        </div>
        <% } %>

        <!-- entry -->
        <div class="post-entry" itemprop="postBody">
            <% if (post.excerpt && !is_post()){ %>
            <!--摘录-->
            <%- post.excerpt %>
            <!--阅读全文-->
            <p class="post-more-link">
                <a href="<%- url_for(post.path) %>#more"><%- __('post.read_more') %></a>
            </p>
            <% } else { %>
            <!--文章内容-->
            <%- post.content %>
            <% } %>
        </div>

        <footer class="post-footer">
            <%- partial('tag') %>
        </footer>
    </div>
    
    <% if (is_post()){ %>
    <%- partial('nav') %>
    <% } %>
    
    <% if(is_post() && theme.duoshuo.share){ %>
    <div class="post-spread">
        <%- partial('../_service/share/duoshuo_share') %>
    </div>
    <% } %>
    
    <% if(is_post && theme.duoshuo.hotarticle){ %>
        <%- partial('../_service/comments/duoshuo_hotarticle') %>
    <% } %>
    
    <% if (is_post() && post.comments){ %>
        <%- partial('../_service/comments/comments_panel') %>
    <% } %>
</article>
