<article id="<%= post.layout %>-<%= post.slug %>"
         class="post post-type-<%= post.layout %>" itemscope itemprop="blogPost">

    <div class="post-inner">
        <!-- title -->
        <% if (post.link || post.title){ %>
        <header class="post-header">
            <%- partial('_post/title', {class_name: 'post-title'}) %>
        </header>
        <% } %>

        <!-- meta data -->
        <div class="post-meta">
            <%- partial('_post/date') %>
            <%- partial('_post/category') %>
            <%- partial('_service/comments/comments_count') %>
        </div>

        <!-- gallery-->
        <% if (post.photos && post.photos.length){ %>
        <div class="post-gallery">
            <%- partial('_post/gallery') %>
        </div>
        <% } %>

        <!-- entry -->
        <div class="post-entry" itemprop="postBody">
            <% if (post.excerpt && index){ %>
            <!--摘录-->
            <%- post.excerpt %>
            <!--阅读全文-->
            <% if (theme.excerpt_link){ %>
            <p class="post-more-link">
                <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
            </p>
            <% } %>
            <% } else { %>
            <!--文章内容-->
            <%- post.content %>
            <% } %>
        </div>

        <footer class="post-footer">
            <%- partial('_post/tag') %>
        </footer>
    </div>
    
    <% if (!index){ %>
    <%- partial('_post/nav') %>
    <% } %>
    
    <div class="post-spread">
        <% if(theme.duoshuo.share){ %>
            <%- partial('_service/share/duoshuo_share') %>
        <% } %>
    </div>
    
    <% if (!index && post.comments){ %>
    <%- partial('_service/comments/comments_panel') %>
    <% } %>
</article>
