<article id="<%= post.layout %>-<%= post.slug %>"
         class="post post-list post-type-<%= post.layout %>" itemscope itemprop="blogPost">
    
        <!-- title -->
        <% if (post.link || post.title){ %>
        <header class="post-header">
            <%- partial('_post/title', {class_name: 'post-title'}) %>
        </header>
        <% } %>

        <!-- meta data -->
        <div class="post-meta">
            <%- partial('_post/date') %>
            <%- partial('_post/category') %>
            <%- partial('_service/comments/comments_count') %>
        </div>
    
        <!-- gallery-->
        <% if (post.photos && post.photos.length){ %>
        <div class="post-gallery">
            <%- partial('_post/gallery') %>
        </div>
        <% } %>
    
        <!-- entry -->
        <div class="post-entry" itemprop="postBody">
            <% if (post.excerpt){ %>
            <!--摘录-->
            <%- post.excerpt %>
            <!--阅读全文-->
            <p class="post-more-link">
                <a href="<%- url_for(post.path) %>#more"><%= __('post.read_more') %></a>
            </p>
            <% } %>
        </div>

        <footer class="post-footer">
            <%- partial('_post/tag') %>
        </footer>
</article>
